
@{
    Layout = null;
}
@await ViewBag.WebReport.Render();

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WorkFlow_Appr_Rep</title>
</head>
<body>
</body>
</html>
